body{
    margin: 50px;
    background-color: black;
    color: #e6e6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.date{
    text-align: right;
    font-size: small;
}

@media only screen and (max-width: 850px) {
    body {
      margin: 20px;
    }
  }
  @media only screen and (max-width: 350px) {
    body {
      margin: 10px;
    }
}

.column{
    flex-direction: column;
    padding: 20px;
}

.images{
    padding: 10px;
}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}