body{
    background-color: black;
    color: #e6e6e6;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: #e6e6e6;
}

#table-of-contents{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 10px;
    width: 35%;
}