body{
    margin: 20px;
    background-color: black;
    color:#e6e6e6;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.review-title {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.review{
    color: #f0f0f0;
}

.review-grid{
    display: grid;
    border: 1px solid #f0f0f0;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.title-grid {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.card1{
    border: 1px solid #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

.card2{
    border: 1px solid #f0f0f0;
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 10px;
}

/*.review1{
    background: -webkit-linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,255,255,0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review2{
    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review3{
    background: -webkit-linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(214,235,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review4{
    background: -webkit-linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(58,142,180,1) 50%, rgba(214,235,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review5{
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(154,42,42,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review6{
    background: -webkit-linear-gradient(0deg, rgba(255,123,0,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review7 {
    background: -webkit-linear-gradient(90deg, rgb(173, 216, 230, 0.8) 0%, rgba(238, 248, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review8{
    background: -webkit-linear-gradient(0deg, rgba(245,255,0,1) 0%, rgba(255,47,47,1) 33%, rgba(255,0,0,1) 50%, rgba(42,154,79,1) 69%, rgba(0,35,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review9{
    color: lime;
}

.review10{
    color: gray;
}*/

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

.date{
    text-align: right;
    font-size: small;
}