body{
    margin: 20px;
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}

.review-title {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.review{
    text-decoration: none;
}

.review1{
    color:azure;
}

.review2{
    color:red;
}

.review3{
    color: gold;
}

.review4{
    color: yellow;
}

.review5{
    color: peachpuff;
}

.review6{
    color: pink;
}

.review7{
    color: yellowgreen;
}

.review8{
    color: lightskyblue;
}