body{
    margin: 20px;
    color:#f0f0f0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.review{
    display: grid;
    border: 1px solid #f0f0f0;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.review-2{
    display: grid;
    border: 1px solid #f0f0f0;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.season-title {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.season-title-2 {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.season-inner-title {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
}


.card1{
    border: 1px solid #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

.card2{
    border: 1px solid #f0f0f0;
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 10px;
}

.card3{
    border: 1px solid #f0f0f0;
    grid-column-start: 5;
    grid-column-end: 7;
    padding: 10px;
}

.cardfull{
    border: 1px solid #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 10px;
}

.review-title{
    font-size: 20px;
    text-decoration: none;
}

.no-pointer{
    cursor: default;
}

.azure{
    color:azure;
}

.red{
    color:red;
}

.gold{
    color: gold;
}

.yellow{
    color: yellow;
}

.peachpuff{
    color: peachpuff;
}

.pink{
    color: pink;
}

.yellowgreen{
    color: yellowgreen;
}

.lightskyblue{
    color: lightskyblue;
}

.lime{
    color: lime;
}

.lightblue {
    color: lightblue;
}

.pasture{
    color: #73855E;
}

.lightpurple{
    color: #BF77F6;
}

.lightslategrey{
    color: lightslategrey;
}

.jade{
    color:#00A36C;
}

.rebeccapink{
    color:#ca4477;
}

.white{
    color: #f0f0f0;
}

@keyframes rainbow {
  0% {
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  14%{
    background: linear-gradient(to right, violet,red,orange,yellow,green,blue,indigo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  28%{
    background: linear-gradient(to right, indigo,violet,red,orange,yellow,green,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  42%{
    background: linear-gradient(to right, blue,indigo,violet,red,orange,yellow,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  56%{
    background: linear-gradient(to right, green,blue,indigo,violet,red,orange,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  71%{
    background: linear-gradient(to right, yellow,green,blue,indigo,violet,red,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85%{
    background: linear-gradient(to right, orange,yellow,green,blue,indigo,violet,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.spring-break{
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 500ms ease 0s infinite;
  font-size: 30px;
}

.madoka-magica{
    background: linear-gradient(90deg,rgba(255, 182, 187, 1) 0%, rgba(255, 230, 145, 1) 25%, rgba(149, 213, 238, 1) 50%, rgba(88, 88, 114, 1) 75%, rgba(158, 68, 70, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.saiki-k{
    background: linear-gradient(90deg,rgba(252, 56, 157, 1) 0%, rgba(255, 176, 218, 1) 25%, rgba(255, 217, 237, 1) 50%, rgba(143, 255, 186, 1) 75%, rgba(33, 255, 118, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

.date{
    text-align: right;
    font-size: small;
}

@media only screen and (max-width: 850px) {
    .card1{
        border: 1px solid #f0f0f0;
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 10px;
    }
    
    .card2{
        border: 1px solid #f0f0f0;
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 10px;
    }
    
    .card3{
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .cardfull{
        grid-column-start: 1;
        grid-column-end: 7;
    }
  }

@media only screen and (max-width: 350px) {
    body{
        margin: auto;
    }
  }