.review-title {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px #000;
    font-family: 'Montserrat', sans-serif;
}

.review1{
    text-decoration: none;
}

.review2{
    text-decoration: none;
}

.review3{
    text-decoration: none;
}

.review4{
    text-decoration: none;
}