@font-face {
    font-family: "Aileron-Light";
    src: url(/fonts/Aileron-Light.otf);
}

body{
    background-color: #000;
    position: relative;
    font-family: "Aileron-Light";
    padding: 20px;
}

h1, p {
    color: #f1f1f1
}

input{
    font-family: "Aileron-Light";
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
  }