@charset "UTF-8";
body {
  background-color: black;
  color: #e6e6e6;
  margin: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
    color: #e6e6e6;
  }
  
.date{
    text-align: right;
    font-size: small;
}
  
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.column{
    flex-direction: column;
    padding: 20px;
}
  
.images{
    padding: 10px;
}

h1{
    text-align: center;
}

@media only screen and (max-width: 850px) {
    body{
        margin: 25px;
    }
  }

@media only screen and (max-width: 350px) {
    body{
        margin: auto;
    }
  }