.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center{
    text-align: center;
}

.column{
    flex-direction: column;
    padding: 20px;
}

.images{
    padding: 10px;
}

.hidden{
    opacity: 0;
}

.part1{
    animation: appears 2s forwards;
}

.part2{
    animation: appears 2s 4s forwards;
}

.part3{
    animation: appears 2s 7s forwards;
}

.part4{
    animation: appears 2s 10s forwards;
}

.part5{
    animation: appears 2s 13s forwards;
}

.part6{
    animation: appears 2s 16s forwards;
}

.part7{
    animation: appears 2s 20s forwards;
}

.part8{
    animation: appears 2s 40s forwards;
}

.part9{
    animation: appears 2s 60s forwards;
}

.part10{
    animation: appears 2s 80s forwards;
}

/* animation: name duration timing-function delay iteration-count direction fill-mode;*/

@keyframes appears {
    from{opacity: 0;}
    to{opacity: 1;}
}